.all-pairs-section {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  .controls {
    // position: sticky;
    // top: 0;
    // z-index: 20;
    // background: #1B1B1B;
    display: flex;
    .search {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 16px;
      input {
        width: 100%;
        margin-left: 24px;
      }
      img {
        width: 20px;
        height: 20px;
      }
      button {
        display: flex;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    > button {
      border-left: 1px solid rgba(255, 255, 255, 0.08);
      padding: 16px;
    }
  }
  table {
    width: 100%;
    button {
      cursor: pointer;
      background: transparent;
      img {
        transition: all 0.3s;
      }
    }
    td:first-child {
      padding-left: 13px;
       > p {
        padding-left: 47px;
      }
    }
    tr.opened {
      td {
        background: #242424 !important;
        border-bottom: 0;
        &:first-child {
          background: #212121 !important;
        }
      }
      button {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

  .left-blue-border {
    border-left: 1px solid rgba(104, 106, 246, 0.2);
  }
  .left-green-border {
    border-left: 1px solid rgba(82, 187, 221, 0.2);
  }
}