.custom-link {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #22D091;

  &:hover {
    color: #4CD9A6;
    p {
      transition: all 0.3s;
      color: #4CD9A6;
    }
    svg {
      path {
        transition: all 0.3s;
        fill: #4CD9A6;
      }
    }
  }
}